@import "../admin.module.scss";

.accountsContainer {
    width: 36vw;

    padding: 8rem 0;

    .myAccountP {
        text-align: center;
        font-size: $fs32;
        font-weight: $fw-bold;
        margin-bottom: 8rem;
    }

    article {
        p {
            font-size: $fs20;
            font-weight: $fw-bold;
            margin-bottom: 1.6rem;
        }

        .inputContainer {
            background-color: $bg-color-alpha;
            border-radius: $border-radius-04;
            padding: 0 2rem;

            .marginBottom {
                margin-bottom: 1.6rem;
            }
        }
    }
}
