.loaderContainer {
    div {
        svg {
            height: 1.2rem;
            width: inherit;
        }
    }
}

.hamburgerMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    div {
        height: 0.24rem;
        width: 2.4rem;
        margin-bottom: 0.4rem;
        background-color: $text-color-alpha;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    @include breakpoint(desktop) {
        display: none;
    }
}
