// colors
$white: #ffffff;
$grey: #263238;
$black: #131415;
$green: #39e09b;
$purple: #7551e9;

$text-color-alpha: $black;
$text-color-beta: $grey;
$text-color-gamma: $white;

$bg-color-alpha: $white;
$bg-color-beta: $green;
$bg-color-gamma: $purple;

// font size
$fs12: 1.2rem;
$fs14: 1.4rem;
$fs16: 1.6rem;
$fs18: 1.8rem;
$fs20: 2rem;
$fs22: 2.2rem;
$fs24: 2.4rem;
$fs28: 2.8rem;
$fs32: 3.2rem;
$fs36: 3.6rem;
$fs40: 4rem;
$fs44: 4.4rem;
$fs48: 4.8rem;
$fs52: 5.2rem;

// padding
$pd04: 0.4rem;
$pd1: 1rem;
$pd2: 2rem;
$pd3: 3rem;
$pd4: 4rem;
$pd5: 5rem;
$pd6: 6rem;
$pd8: 8rem;
$pd12: 12rem;
$pd16: 16rem;

$pdxxs: $pd04;
$pdxs: $pd1;
$pds: $pd2;
$pdm: $pd4;
$pdml: $pd6;
$pdl: $pd8;
$pdxl: $pd12;
