// colors
$white: #ffffff;

$grey: #263238;
$lightGrey: #dce0e2;
$lightGrey1: #696e74;
$veryLightGrey: #f5f6f8;
$black: #131415;
$green: #39e09b;
$purple: #7551e9;
$lightPurple: #7c41ff;

$text-color-alpha: $black;
$text-color-beta: $grey;
$text-color-gamma: $white;
$text-color-disabled: #a6a7a7;
$text-color-error: red;

$bg-color-alpha: $white;
$bg-color-beta: $green;
$bg-color-gamma: $purple;
$bg-color-admin: $veryLightGrey;
$bg-color-disabled: #dadee0;

// border radius
$border-radius-04: 0.4rem;
$border-radius-08: 0.8rem;
$border-radius-12: 1.2rem;
$border-radius-15: 1.5rem;

// font family
$ffKarla: "Karla", sans-serif;
$ffInter: "Inter", sans-serif;
$ffRoboto: "Roboto", sans-serif;
$ffAlpha: $ffKarla;
$ffBeta: $ffInter;
$ffGamma: $ffRoboto;

// font size
$fs12: 1.2rem;
$fs14: 1.4rem;
$fs16: 1.6rem;
$fs18: 1.8rem;
$fs20: 2rem;
$fs22: 2.2rem;
$fs24: 2.4rem;
$fs28: 2.8rem;
$fs32: 3.2rem;
$fs36: 3.6rem;
$fs40: 4rem;
$fs44: 4.4rem;
$fs48: 4.8rem;
$fs52: 5.2rem;
$fs56: 5.6rem;
$fs60: 6rem;
$fs64: 6.4rem;

// font weight
$fw-normal: 400;
$fw-semi-bold: 600;
$fw-bold: 700;

// padding
$pd04: 0.4rem;
$pd12: 1.2rem;
$pd16: 1.6rem;
$pd20: 2rem;
$pd30: 3rem;
$pd40: 4rem;
$pd50: 5rem;
$pd60: 6rem;
$pd80: 8rem;
$pd120: 12rem;
$pd160: 16rem;

$pdxxs: $pd04;
$pdxs: $pd12;
$pds: $pd16;
$pdsm: $pd20;
$pdml: $pd60;
$pdl: $pd80;
$pdxl: $pd120;
