@import "../admin.module.scss";

.sideNav {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: $dm64;
    height: 100vh;

    padding: 2rem 0;

    border-right: 0.1rem solid $border-color;
    z-index: 200;
    img {
        position: relative;
        width: 3.2rem;
        aspect-ratio: 1/1;
        border-radius: 50%;

        z-index: 0;
    }
}

.sideNavMenu {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 24rem !important;
    aspect-ratio: 1/1;
    border: 1px solid red;
}
