@import "../admin.module.scss";

.sideNav {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 1.2rem;

    width: 100%;
    height: $dm48;
    border-bottom: 0.1rem solid $border-color;

    img {
        width: 2.4rem;
        aspect-ratio: 1/1;
    }
    picture {
        display: none;
    }

    // @include breakpoint(tablet) {
    //     position: fixed;
    //     top: 0;
    //     left: 0;

    //     display: flex;
    //     flex-direction: column;
    //     justify-content: space-between;
    //     align-items: center;

    //     width: $dm64;
    //     height: 100vh;

    //     padding: 2rem 0;

    //     border-right: 0.1rem solid $border-color;
    //     z-index: 200;
    //     img {
    //         position: relative;
    //         width: 2.8rem;
    //         aspect-ratio: 1/1;
    //         border-radius: 50%;

    //         z-index: 0;
    //     }

    //     picture {
    //         width: $dm64;
    //         display: grid;
    //         place-items: center;

    //         img {
    //             width: 5.2rem;
    //         }
    //     }
    // }

    // display: none;
}

.sideNavMenu {
    position: absolute;
    top: 2.4rem;
    right: 2.4rem;

    @include breakpoint(tablet) {
        bottom: 0;
        left: 0;
    }

    display: flex;
    flex-direction: column;

    background-color: $bg-color-alpha;

    margin: 0 0 4.8rem 4.8rem;
    width: 24rem;

    padding: 0.8rem;

    border-radius: $border-radius-04;
    box-shadow: $box-shadow;

    p {
        text-transform: uppercase;
        font-size: $fs12;
        font-weight: $fw-bold;

        margin-bottom: 1.6rem;
    }

    ul {
        display: flex;
        flex-direction: column;

        text-align: left;

        li {
            padding: 1.6rem 1.2rem;
            margin-bottom: 1rem;

            text-align: left;
            color: $text-color-alpha;

            border: none;
            border-radius: $border-radius-12;

            cursor: pointer;
            &:last-of-type {
                margin-bottom: 0;
            }

            &:hover {
                background-color: #7c41ff22;
                color: $lightPurple;
            }
        }
        .linkLiActive {
            background-color: $green1;
            color: $text-color-alpha;

            &:hover {
                background-color: $green1;
                color: $text-color-alpha;
            }
        }
    }
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    div {
        height: 0.24rem;
        width: 2.4rem;
        margin-bottom: 0.4rem;
        background-color: $text-color-alpha;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    @include breakpoint(tablet) {
        display: none;
    }
}
