@import "../../styles/abstract/variables.scss";

.input {
    fieldset,
    legend,
    span {
        font-family: $ffBeta;
    }
    label {
        text-transform: capitalize;

        font-family: $ffBeta;
        font-size: $fs16;
        font-weight: $fw-normal;
    }
}
