@import "../../styles/abstract/variables.scss";

$labelColor: #696e74;

.muiInput {
    background-color: $veryLightGrey;
    margin-bottom: 2rem;
    border-radius: $border-radius-08;
    border: 0.2rem solid transparent;
    padding: 0;

    &:hover,
    &:focus-within {
        border: 0.2rem solid $text-color-alpha;
    }

    label {
        text-transform: capitalize;

        font-family: $ffBeta;
        font-size: $fs16;
        font-weight: $fw-normal;
        color: $labelColor;
    }

    fieldset {
        color: $labelColor !important;
    }
}

.changeBorderColor {
    border: 0.2rem solid green !important;
}
