@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
@import "./abstract/variables.scss";
@import "./abstract//mixins.scss";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: $ffAlpha;
    font-size: $fs14;
    color: $text-color-alpha;

    @include breakpoint(tablet) {
        font-size: $fs16;
    }
}

button {
    cursor: pointer;
}

a {
    color: inherit;
}

.fontawesome-icon {
    font-size: $fs20;
}
