@import "../../styles/abstract/variables.scss";
@import "../../styles/abstract/mixins.scss";
@import "../../styles/abstract/utils.scss";

$admin-text-primary: #0a0b0d;
$border-color: #d7dce1;
$share-button: #71767b;
$dm64: 6.4rem;
$dm48: 4.8rem;
$url-section-width: 60vw;
$url-width: 64rem;
$grey-color-admin: #acb5bf;
$grey-color-delete: #ebeef1;
$light-blue: #7fdaff;

$padding-mobile: 1.2rem;
$border: 0.1rem solid $border-color;

.lineClamp {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 1rem;
}

.adminContainer {
    display: flex;
    min-height: 100vh;
    width: 100vw;
}

.adminIcon {
    color: #bec1c3;

    width: 2rem;
    margin: 0;
    padding: 0;

    cursor: pointer;
}

.adminIconActive {
    color: $light-blue;
}

.urlSection {
    position: relative;
    background-color: $bg-color-admin;

    margin-top: calc(4.8rem * 3);

    height: max-content;
    width: 100%;

    border-right: 1px solid $border-color;

    overflow: hidden;
    z-index: 100;

    @include breakpoint(desktop) {
        height: 100vh;
        width: $url-section-width;

        margin-top: 0;
        margin-left: $dm64;
    }
}

.urlNav {
    position: absolute;
    top: calc(2 * 4.8rem);
    left: 0;

    margin: 0;
    padding-left: $padding-mobile;

    width: 100%;
    height: $dm48;

    display: flex;
    align-items: center;

    background-color: $white;

    border-bottom: 0.1rem solid $border-color;
    border-right: 0.1rem solid $border-color;

    .urlNavItem {
        position: relative;
        display: grid;
        place-items: center;

        height: $dm48;

        color: $admin-text-primary;
        font-size: $fs16;
        font-weight: $fw-normal;
        letter-spacing: 0.05rem;
        line-height: 2.4rem;

        margin-right: 4rem;
        cursor: pointer;
        transition: border 0.3s;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            display: block;
            width: 0%;
            height: 2px;
            background: $lightGrey;
            transition: width 0.3s;
        }

        &:hover::after {
            width: 100%;
        }
    }

    .urlNavItemActive {
        border-bottom: 0.2rem solid $admin-text-primary;
    }

    @include breakpoint(desktop) {
        z-index: 200;
        position: fixed;
        top: 0;

        height: $dm64;
        width: $url-section-width;
        margin-left: $dm64;
        padding-left: 2.4rem;

        .urlNavItem {
            height: $dm64;
        }
    }
}

.previewSection {
    @include breakpoint(desktop) {
        position: fixed;

        top: 0;
        right: 0;
    }
    z-index: 100;
}

.accountSection {
    position: relative;
    background-color: $bg-color-admin;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    top: $dm48;

    margin: 0 auto;

    @include breakpoint(desktop) {
        width: calc(100vw - 6.4rem);
        margin-left: $dm64;
    }
}

.fadeIn {
    animation: fadeIn 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.fadeOut {
    animation: fadeout 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes fadeIn {
    0% {
        transform: translateY(-1rem);
    }
    100% {
        transform: translateY(0rem);
    }
}

@keyframes fadeOut {
    0% {
        transform: translateY(0rem);
    }
    100% {
        transform: translateY(1rem);
    }
}
