@import "../../styles/abstract/variables.scss";
@import "../../styles/abstract/mixins.scss";

$admin-text-primary: #0a0b0d;
$border-color: #d7dce1;
$share-button: #71767b;
$dm64: 6.4rem;
$url-section-width: 60vw;
$url-width: 60rem;
$grey-color-admin: #acb5bf;
$grey-color-delete: #ebeef1;
$light-blue: #7fdaff;

.adminContainer {
    display: flex;
    min-height: 100vh;
    width: 100vw;
}

.sideNav {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: $dm64;
    height: 100vh;

    padding: 2rem 0;

    border-right: 0.1rem solid $border-color;

    img {
        width: 2.6rem;
        aspect-ratio: 1/1;
    }
}

.urlSection {
    position: relative;
    margin-left: $dm64;
    border-right: 1px solid $border-color;

    height: 100vh;
    width: $url-section-width;

    background-color: $bg-color-admin;

    overflow: hidden;
}

.urlNav {
    z-index: 200;
    position: fixed;
    top: 0;

    display: flex;
    align-items: center;

    background-color: $white;
    margin-left: $dm64;

    height: $dm64;
    width: $url-section-width;

    padding-left: 2.4rem;

    border-bottom: 1px solid $border-color;
    border-right: 1px solid $border-color;

    .urlNavItem {
        position: relative;
        display: grid;
        place-items: center;

        color: $admin-text-primary;
        font-size: $fs16;
        font-weight: $fw-normal;
        letter-spacing: 0.05rem;
        line-height: 2.4rem;

        height: $dm64;

        margin-right: 4rem;

        cursor: pointer;

        transition: border 0.3s;

        &::after {
            content: "";

            position: absolute;
            bottom: 0;
            display: block;
            width: 0%;
            height: 2px;
            background: $lightGrey;
            transition: width 0.3s;
        }

        &:hover::after {
            width: 100%;
        }
    }

    .urlNavItemActive {
        border-bottom: 1px solid $admin-text-primary;
    }
}

.previewSection {
    position: fixed;
    top: 0;
    right: 0;
}

.fadeIn {
    animation: fadeIn 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.fadeOut {
    animation: fadeout 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes fadeIn {
    0% {
        transform: translateY(-1rem);
    }
    100% {
        transform: translateY(0rem);
    }
}

@keyframes fadeOut {
    0% {
        transform: translateY(0rem);
    }
    100% {
        transform: translateY(1rem);
    }
}
