@import "../../styles/abstract/variables.scss";
@import "../../styles/abstract/mixins.scss";

$admin-text-primary: #0a0b0d;
$border-color: #d7dce1;
$share-button: #71767b;
$dm64: 6.4rem;
$urlSectionWidth: 60vw;

.adminContainer {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.sideNav {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: $dm64;
    height: 100vh;

    padding: 2rem 0;

    border-right: 0.1rem solid $border-color;

    img {
        width: 2.6rem;
        aspect-ratio: 1/1;
    }
}

.urlSection {
    position: fixed;
    margin-left: $dm64;
    border-right: 1px solid $border-color;
    width: $urlSectionWidth;
}

.urlNav {
    position: fixed;
    top: 0;

    display: flex;
    align-items: center;

    height: $dm64;
    width: 100%;

    padding-left: 2.4rem;

    border-bottom: 1px solid $border-color;

    .urlNavItem {
        position: relative;
        display: grid;
        place-items: center;

        font-size: $fs16;
        font-weight: $fw-normal;
        letter-spacing: 0.05rem;
        line-height: 2.4rem;

        height: $dm64;

        margin-right: 4rem;

        cursor: pointer;

        transition: border 0.3s;

        &::after {
            content: "";

            position: absolute;
            bottom: 0;
            display: block;
            width: 0%;
            height: 2px;
            background: $lightGrey;
            transition: width 0.3s;
        }

        &:hover::after {
            width: 100%;
        }
    }

    .UrlNavItemActive {
        border-bottom: 1px solid $admin-text-primary;
    }
}

.urlContainer {
    position: relative;

    background-color: $bg-color-admin;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: $dm64;

    width: 100%;

    min-height: calc(100vh - 6.4rem);

    padding: 12rem 16rem 0;

    .buttonContainer {
        display: flex;
        width: 100%;

        button {
            display: grid;
            place-items: center;

            background-color: $bg-color-gamma;

            padding: 1rem;
            height: 4.4rem;

            color: $text-color-gamma;
            font-family: $ffBeta;
            font-weight: $fw-semi-bold;
            font-size: $fs16;
            line-height: 2.4rem;

            border: none;
            border-radius: $border-radius-12;

            &:first-of-type {
                width: 90%;
                margin-right: 1.2rem;
            }

            &:last-of-type {
                aspect-ratio: 1/1;

                font-size: $fs24;
            }
        }
    }
}

.previewSection {
    position: fixed;
    top: 0;
    right: 0;
}

.previewNav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: calc(100vw - 60vw - 6.4rem);
    height: $dm64;

    padding: 0 2.4rem;

    border-bottom: 0.1rem solid $border-color;

    p {
        font-weight: $fw-bold;

        span {
            font-weight: $fw-normal;
        }
    }

    .previewShareButton {
        background-color: $bg-color-alpha;

        color: $share-button;
        font-size: $fs14;
        font-family: $ffBeta;

        padding: 0.8rem 1.2rem;

        border: 0.1rem solid $border-color;
        border-radius: $border-radius-04;

        &:hover {
            background-color: $veryLightGrey;
        }
    }
}

.previewMobile {
    background-color: $bg-color-admin;
    height: 100%;
    width: 100%;
}
