@import "../../styles/abstract/variables.scss";
@import "../../styles/abstract/mixins.scss";

$admin-text-primary: #0a0b0d;
$border-color: #d7dce1;
$share-button: #71767b;
$dm64: 6.4rem;
$urlSectionWidth: 60vw;

.adminContainer {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.sideNav {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: $dm64;
    height: 100vh;

    padding: 2rem 0;

    border-right: 0.1rem solid $border-color;

    img {
        width: 3rem;
        aspect-ratio: 1/1;
    }
}

.urlSection {
    position: relative;
    margin-left: $dm64;
    border-right: 1px solid $border-color;
    width: $urlSectionWidth;
}

.urlNav {
    display: flex;
    align-items: center;

    height: $dm64;
    border-bottom: 1px solid $border-color;

    padding-left: 2.4rem;

    .urlNavItem {
        display: grid;
        place-items: center;

        height: $dm64;

        margin-right: 4.8rem;

        cursor: pointer;
    }

    .UrlNavItemActive {
        border-bottom: 1px solid $admin-text-primary;
    }
}

.urlContainer {
}

.previewSection {
    position: relative;
}

.previewNav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: calc(100vw - 60vw - 6.4rem);
    height: $dm64;

    padding: 0 2.4rem;

    border-bottom: 0.1rem solid $border-color;

    p {
        font-weight: $fw-bold;

        span {
            font-weight: $fw-normal;
        }
    }

    .previewShareButton {
        background-color: $bg-color-alpha;

        color: $share-button;
        font-size: $fs14;
        font-family: $ffBeta;

        padding: 0.8rem 1.2rem;

        border: 0.1rem solid $border-color;
        border-radius: $border-radius-04;

        &:hover {
            background-color: $veryLightGrey;
        }
    }
}

.previewMobile {
}
