@import "../../styles/abstract/mixins.scss";
@import "../../styles/abstract/variables.scss";

.loginSection {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;

    border: 1px solid black;
}

.loginDiv {
    // padding: 4rem 4rem;
    margin-top: 6rem;

    border: 1px solid red;
    border-radius: $border-radius;

    p {
        font-size: $fs32;
        line-height: 4rem;
    }
}

.loginForm {
    // div {
    //     padding-left: 1.2rem;
    //     width: 44rem;

    //     input {
    //         padding: 1.6rem 1.2rem 0 0;
    //         font-family: $ffBeta;
    //         border-bottom: none;
    //     }
    // }
}
