@import "../../styles/abstract/mixins.scss";
@import "../../styles/abstract/variables.scss";

.logo {
    position: relative;
    color: $text-color-alpha;
    font-size: $fs18;
    font-weight: $fw-bold;
    cursor: pointer;

    a {
        color: $text-color-alpha;
    }

    img {
        position: relative;
        bottom: -0.2rem;
        width: 2rem;
        aspect-ratio: 1/1;
        margin-right: 0.2rem;
    }

    span {
        position: relative;
        letter-spacing: -0.1rem;
    }

    @include breakpoint(tablet) {
        font-size: $fs20;
    }
}

.nav {
    z-index: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.6rem;

    .ctaContainer {
        display: flex;

        .login {
            color: $text-color-alpha;
            margin-right: 2rem;
        }

        .signup {
            color: $text-color-alpha;
            font-weight: $fw-bold;
            font-size: 1.3rem;
            text-transform: uppercase;
            background-color: $bg-color-beta;
            padding: 0.8rem 1.4rem;
            border-radius: 0.75rem;
            margin-right: 0;
        }
    }

    @include breakpoint(tablet) {
        padding: 2.4rem;

        .ctaContainer {
            .login {
                margin-right: $pd40;
            }

            .signup {
                font-size: $fs14;
                margin-right: 2rem;
            }

            .menu {
                display: none;
            }
        }
    }
}
