@import "../admin.module.scss";

.appearanceSection {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 90%;
    height: 80vh;
    margin: 0 auto;
    padding: 2.4rem 0;

    @include breakpoint(tablet) {
        padding: 12rem 0 8rem;
        width: 88%;
    }

    @include breakpoint(desktop) {
        width: $url-width;
    }
}

.profileSection {
    z-index: 200;
    position: relative;

    display: flex;
    flex-direction: column;

    width: $url-width;
    width: 100%;

    p {
        margin-bottom: 2rem;
        text-transform: capitalize;

        font-size: $fs20;
        font-weight: $fw-bold;
    }

    .profileInner {
        background-color: $white;
        padding: 3rem 3rem 2rem;
        border-radius: $border-radius-04;

        figure {
            display: flex;
            align-items: center;

            img {
                height: 8rem;
                aspect-ratio: 1/1;

                border-radius: 50%;

                margin-right: 2rem;

                @include breakpoint(tablet) {
                    height: 10rem;
                }
            }

            figcaption {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                @include breakpoint(desktop) {
                    flex-direction: row;
                }

                width: 100%;

                button {
                    width: 100%;
                    border: none;

                    font-size: $fs16;
                    font-weight: $fw-bold;

                    padding: 1rem 0;
                    border-radius: $border-radius-08;

                    &:first-of-type {
                        background-color: $lightPurple;

                        color: $white;

                        margin: 0 2rem 1.2rem 0;

                        @include breakpoint(desktop) {
                            margin-bottom: unset;
                        }
                    }

                    &:last-of-type {
                        color: #696e74;
                    }

                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }

        .inputDiv {
            margin-top: 1rem;
            width: 100%;

            p {
                margin: 2rem 0 0;
                color: #82868b;
                font-size: $fs12;
                font-weight: $fw-normal;
                margin-bottom: 0.4rem;
            }

            .input,
            .textarea {
                width: 100%;
            }

            .textarea {
                padding: 1rem;

                border: 0.1rem solid $border-color;
                border-radius: $border-radius-04;

                &:hover {
                    border: 0.1rem solid $grey-color-admin;
                }

                &:focus {
                    outline: none;
                    border: 0.1rem solid $grey-color-admin;
                }
            }

            .wordCountP {
                display: grid;
                place-items: end;

                width: 100%;
                padding: 0;
                margin: 0;

                color: $text-color-alpha;
            }
        }
    }
}
