@import "../admin.module.scss";

// image modal dimensions
$image-modal-width: 75rem;
$image-modal-height: 50rem;

// upload modal colors
$upload-modal-grey: #eeeeee;
$upload-modal-light-grey: #e2e2e2;
$cropper-modal-border-color: #d1d1d1;

$cropper-blue: #2e68fb;

.adminIcon {
    color: $black;
    width: 2.4rem;
    height: auto;
}

.uploadModalContainer {
    position: relative;
    width: $image-modal-width;
    height: $image-modal-height;

    display: flex;
    background-color: $upload-modal-grey;

    font-family: $ffGamma;

    nav {
        background-color: $upload-modal-grey;
        width: 6.4rem;

        display: flex;
        justify-content: center;

        .navActive {
            display: grid;
            place-items: center;
            width: 100%;
            height: 4rem;
            background-color: $upload-modal-grey;
        }
        span {
            display: none;
        }
    }

    .contentsSection {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: $upload-modal-grey;

        .topDiv {
            width: 100%;
            background-color: inherit;

            display: grid;
            place-items: center;

            padding: 0.8rem 0;

            .closeIcon {
                position: absolute;
                right: 1rem;
            }
        }

        .dragComponentOuter {
            height: 100%;

            display: grid;
            place-items: center;

            border: 1px dashed $grey;

            margin: 4rem 2.4rem 2.4rem;

            transition: all 0.3s ease-in;

            cursor: pointer;
            &:hover {
                background-color: $bg-color-alpha;

                .fileIcon {
                    color: rgb(40, 40, 230);
                }
            }

            .dragComponentInner {
                text-align: center;

                .fileIcon {
                    width: 8rem;
                    height: auto;
                }

                .thumbsDiv {
                    img {
                        height: 30rem;
                        aspect-ratio: 1/1;
                    }
                }
            }
        }
    }
}

.cropperNav {
    display: flex;

    height: 100%;
    width: inherit;
    padding: 1rem 0;

    border-right: 0.1rem solid $cropper-modal-border-color;

    .cropperNavItem {
        display: grid;
        place-items: center;

        height: max-content;

        .cropIcon {
            color: $cropper-blue;
            width: 2.8rem;
            height: auto;
        }

        p {
            color: $cropper-blue;
            text-transform: capitalize;
            font-size: $fs12;
        }
    }
}

.cropperContainerSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .cropperContainerDiv {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .leftArrowIcon {
            color: $grey-color-admin;
        }

        .closeIcon {
            color: $grey;
        }

        p {
            font-size: $fs12;
        }

        &:first-of-type {
            padding: 1rem;
        }

        &:last-of-type {
            padding: 0.7rem;

            border-top: 0.1rem solid $cropper-modal-border-color;
        }

        button {
            background-color: transparent;

            padding: 1rem 2.8rem;

            border-radius: $border-radius-04;

            text-transform: capitalize;
            font-family: $ffGamma;
            font-size: $fs12;
            border: none;

            &:first-of-type {
                color: $grey;
                border: 1px solid $cropper-modal-border-color;
            }
        }

        .saveButton {
            color: $cropper-blue;
            border: 1px solid $cropper-blue;
        }

        .uploadButton {
            background-color: $cropper-blue;
            color: $white;
        }
    }

    .cropperContainerMid {
        position: relative;

        margin: 1rem auto 1rem;

        width: calc(75rem - 8rem);
        height: calc(48rem - 10rem);

        display: flex;
        justify-content: center;

        .uploadImg {
            height: 100%;
            object-fit: contain;
        }
    }
}
