@import "../../styles/abstract/mixins.scss";
@import "../../styles/abstract/variables.scss";
@import "./auth.module.scss";

.signupSection {
    width: 100vw;
    display: flex;

    padding: 4rem 0 0 20rem;
}

.signupDiv {
    margin-top: 1rem;

    width: 64rem;

    .signupH3 {
        font-size: $fs32;
        font-weight: $fw-normal;
        line-height: 4rem;
        margin-bottom: 1rem;
    }

    .signupP {
        font-size: $fs16;
        line-height: 2.4rem;
        margin-bottom: 8rem;
    }

    .button {
        margin-top: 4rem;
    }

    hr {
        background-color: $lightGrey;
        height: 0.1rem;
        border: none;
        margin-top: 2.4rem;
    }

    .divLink {
        text-align: center;
        font-size: $fs14;
        line-height: 2.2rem;
        margin-top: 2rem;

        a:hover {
            color: $text-color-alpha;
            text-decoration: underline;
        }
    }
}
