@import "../../styles/abstract/mixins.scss";
@import "../../styles/abstract/variables.scss";
@import "./auth.module.scss";

.signupSection {
    display: flex;

    margin: 0 auto;

    width: 90vw;

    @include breakpoint(tablet) {
        width: 80vw;
    }

    @include breakpoint(desktop) {
        padding: 4rem 0 0 20rem;
        width: 100vw;
    }
}

.signupDiv {
    margin-top: 1rem;

    width: 100%;

    @include breakpoint(desktop) {
        width: 64rem;
    }

    .signupH3 {
        font-size: $fs24;
        font-weight: $fw-normal;
        line-height: 4rem;
        margin-bottom: 1rem;

        @include breakpoint(tablet) {
            font-size: $fs32;
        }
    }

    .signupP {
        font-size: $fs16;
        line-height: 2.4rem;
        margin-bottom: 4rem;

        @include breakpoint(tablet) {
            margin-bottom: 8rem;
        }
    }

    .button {
        margin-top: 4rem;
    }

    hr {
        background-color: $lightGrey;
        height: 0.1rem;
        border: none;
        margin-top: 2.4rem;
    }

    .divLink {
        text-align: center;
        font-size: $fs14;
        line-height: 2.2rem;
        margin-top: 2rem;

        a:hover {
            color: $text-color-alpha;
            text-decoration: underline;
        }
    }
}
